@import 'reset';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
  margin: 0 auto;
  text-align: center;
  align-items: center;
  background-color: #6a6270;
  font-size: 30px;
}

.container{
  margin: 0 auto;
  max-width: 500px;
}

.inputPrice__inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resetInput{
  background-color: #8ba78d;
  width: 150px;
  height: 50px;
  border: none;
  padding: 0;
  transition: all .3s;
  cursor: pointer;
  border-radius: 25px;
}

.resetInput:hover{
  background-color: #b2ccb4;
}

#inputPrice{
  background-color: #899eaf;
  padding: 10px;
  width: 200px;
  height: 50px;
  border: none;
  font-size: 30px;
}
